footer {
    background-color: #CD0028;
    padding: 2rem 0;
    text-align: center;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    h2 {
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
    }
}